* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 4vh 12vw 4vh 12vw;
  padding: 0 1vw 0 1vw;
  border-radius: 5px;
  height: 50px;
}

#logo {
  margin-left: 7px;
  display: flex;
  gap: 5px;
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
}

img {
  filter: invert(100%);
}

.info-wrapper {
  width: 26px;
  height: 26px;
  background-color: white;
  border: none;
  border-radius: 100%;
  margin-right: 7px;
  cursor: pointer;
}

.info-wrapper:hover {
  box-shadow: 0 0 9px 2px white;
}

.info-wrapper:active {
  background-color: rgb(236, 236, 236);
}

#info-button {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  margin-top: 1px;
  padding-right: 2px;
}

.body {
  margin: 0 12vw 4vh 12vw;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.card {
  width: 32.6%;
  min-width: 32%;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Source Serif Pro', serif;
  justify-content: space-between;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card.complete, .add {
  background-color:black;
  border: 2px solid white;
  color: white;
}

.add:hover {
  background-color:rgb(15, 15, 15);
}

.card.incomplete {
  background-color: white;
  color: black;
}

.card h1 {
  font-weight: 600;
}

.card h3 {
  font-weight: 300;
}

.incomplete button {
  background-color: white;
  border: 1px solid black;
}

.incomplete button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.complete button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.complete button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.button-area {
  display: flex;
}

.card button {
  height: 75px;
  flex-shrink: 1;
  border-radius: 16px 0 0 16px;
  font-size: 15px;
  font-weight: 300;
  transition: background-color 0.15s;
  flex: 5;
}

.card .trash {
  flex: 1;
  border-radius: 0 16px 16px 0;
  background-color: black;
}

.card .trash:hover {
  background-color: rgb(197, 55, 62);
}

.card.add {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card .plus-wrapper {
  background-color: rgb(22, 22, 22);
  color: white;
  width: 200px;
  height: 200px;
  padding-top: 17px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  font-weight: 900;
}

#blur {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.288);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}

.popup {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 19%;
  transform: translate(-50%, 0);
  height: 65%;
  width: 35%;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 16px 1px rgba(0, 0, 0, 0.315);
  font-family: 'Source Serif Pro', serif;
}

#info {
  display: none;
  height: 25%;
  top: 30%;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info a {
  color: white;
  text-decoration: none;
}

.close {
  margin-top: -1px;
  margin-right: -1px;
  align-self: flex-end;
  background-color: white;
  border: 1px solid white;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 42px;
  font-weight: 900;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.close:hover {
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.63);
}

#new-book {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 50px 75px 50px;
  gap: 22px;
  height: 100%;
}

.text {
  width: 100%;
  height: 68px;
  padding: 8px;
  font-size: 18px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin: 10px 0 10px 0;
  padding-right: 2px;
}

.checkbox {
  height: 18px;
  width: 18px;
}

.submit {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  flex: 1 1 auto;
  height: 55px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.submit:hover {
  background-color: white;
  color: black;
}